@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* header font */
.main-header .logo {
  font-family: 'Lato', sans-serif;
}

/* sidebar font */
.main-sidebar {
  font-family: 'Lato', sans-serif;
}

/* headers font */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
